/* header #655E6C
main #2D2F3A
email, lines, password remmber me forgot password #6E6A77
button #454555 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background-image: url("./img/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_wrapper {
  width: 400px;
  height: 400px;
}

.header {
  width: 100%;
  height: 25%;
  background-color: rgba(73, 72, 91, 0.7);
  border-radius: 50px 50px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #dededf;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.main {
  width: 100%;
  height: 75%;
  background-color: rgba(45, 47, 58, 0.9);
  border-radius: 0 0 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  width: 100%;
  padding: 25px;
}

form > label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

input {
  background: none;
  border: none;
  color: #6e6a77;
  width: 80%;
  height: 30px;
  font-size: 16px;
  outline: none;
}

.icons {
  margin: auto;
  font-size: 20px;
  color: #6e6a77;
}

.help_buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  font-size: 14px;
}

.checkbox_container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  color: #6e6a77;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.text_remember {
  padding-left: 20px;
}

.checkbox_box {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: rgba(32, 29, 46, 0.9);
}

.checkbox_container:hover input ~ .checkbox_box {
  background: rgba(32, 29, 46, 0.5);
}

.checkbox_container input:checked ~ .checkbox_box {
  background: rgba(32, 29, 46, 0.9);
}

.checkbox_box:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_container input:checked ~ .checkbox_box:after {
  display: block;
}

.checkbox_container .checkbox_box:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

a,
a:hover,
a:focus {
  color: #6e6a77;
  text-decoration: none;
  outline: none;
}

.btn_wrapper {
  width: 100%;
  height: 75 px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.login {
  background: #49485b;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  color: #dededf;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.delimiter {
  width: 100%;
  height: 1px;
  background-color: #6e6a77;
  margin-top: 5px;
}
